/*
this will expand the default garland bar, make it bigger so our form and message can fit in.
*/
#header_navigation {
  height: 3em;
  border:1px solid red;
  background: white;
}
 
/*
by default, the default form adds some surrounding space, this cancels it
*/
#header_navigation div.form-item,
#header_navigation div.content {
  margin: 0; padding: 0;
}
 
/*
this adds some space in top and bottom, so anything inside can look vertically
centered
*/
#user-bar {
  padding: .65em 0;
  background:cyan;
}

/*
by default, fields labels tries to reserve a whole line for itself, this
cancels that and and sends it to the left.
it also adds some space on the right and left of the label to look easy on
the eye.
*/
#user-bar label {
  float: left;
  margin-left: 10px;
  margin-right: 2px;
}

/*
inputs too, they try to reserve a whole line for itself, this
cancels that and sends it to the left
*/
#user-bar input {
  float: left;
}

/*
I don't like the required * (asterisks), so I hide them.
*/
#user-bar span.form-required {
  display: none;
}

/*
the form submit button, it's so tight so we expand it a bit, and give it some
free space around.
*/
#user-bar input.form-submit {
  margin-top: -1px;
  margin-left: 10px;
  padding: 0 .5em;
}

/*
now this is for the links list, lists by default tries to reserve a whole line
also they add space surrounding them. we cancel all that and send the list
to the right
*/
#user-bar div.item-list ul {
  float: right;
  margin: 0; padding: 0;
  margin-right: 10px;
}

/*
remember, stylign above was for the whole list, now for each item,
we all know each item in the list by default exists on a separate line, also
has that bullet on the left. we cancel all that. and makes all items sit beside
each other
*/
#user-bar div.item-list ul li {
  float: left;
  background: none;
  margin: 0 5px;
  padding: 0 10px;
  border: 1px solid #b8d3e5;
}

/*
this is the "Hi user, welcome back message".
by default <p> tries to exist on a separate line, we cancel that.
also by default <p> has some surrounding space, we cancel that too, and give it
only space on the left.
*/
#user-bar p.user-info {
  float: left;
  padding: 0;
  margin: 0 0 0 10px;
}